

<mat-toolbar color="primary">
   

      <span>WordCount</span>
      <span class="example-spacer"></span>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="connection status">
        <mat-icon>wifi_off</mat-icon>
        <mat-icon>wifi</mat-icon>
      </button> -->
    
      <button mat-stroked-button  (click)="openUpload()"><mat-icon>add</mat-icon> UploadFile</button>
  </mat-toolbar>
  <app-uploader *ngIf="stateHelperService.UploaderOpen$ |async"></app-uploader>
<app-files-view></app-files-view>
<app-results-view></app-results-view>
<app-results-charts-view></app-results-charts-view>