

<mat-toolbar color="primary">
   

      <span>WordCount</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>add</mat-icon>
      </button>
    
      <button mat-stroked-button  (click)="openUpload()"><mat-icon>add</mat-icon> UploadFile</button>
  </mat-toolbar>
  <app-uploader *ngIf="stateHelperService.UploaderOpen$ |async"></app-uploader>
<app-files-view></app-files-view>
<app-results-view></app-results-view>